* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    box-sizing: border-box;
    max-width: 100vw;
}

h1 {
    font-size: 2rem;
}

/*Header*/
header {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.coffee-shop-logo {
    margin-left: 5%;
    margin-right: 10px;
    cursor: pointer;
}
.coffee-shop-text, 
.home-text, 
.product-text, 
.search-symbol, 
.cart-symbol, 
.sign-in, .sign-up {
    margin-left: 20px;
    cursor: pointer;
}
.sign-in {
    border: 1px solid white;
    display: flex;
    height: 40px;
    width: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
}
.sign-up {
    margin-right: 5%;
    background-color: orange;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
}
.product-text {
    flex: 1;
}
.cart-symbol ion-icon, .search-symbol ion-icon {
    font-size: 32px;
    color: white;
}
/*main*/
/*page one*/
.page-one {
    height: 91vh;
    background-image: linear-gradient(rgb(56, 56, 56), black);
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.home-photo, .home-photo img, .detail-photo, .detail-photo img {
    width: 900px;
    height: 100%;
}
.home-interface {
    width: 50%;
    padding: 15% 6%;
}
/* .home-interface * {
    margin-bottom: 20px;
} */
.get-started {
    background-color: orange;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.amount-info {
    display: flex;
}
.amount-info div {
    margin-top: 10px;
    margin-right: 20px;
}
.amount-info .center, .amount-info .right {
    margin-left: 20px;
}
/*Chat*/
.chat {
    height: 60px;
    width: 60px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    bottom: 10vh;
    right: 60px;
    z-index: 100;
}
/*page two*/
.page-two {
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 50px;
}
.line {
    height: 50px;
    width: 10px;
    background-color: orange;
    border: none;
    margin-right: 30px;
}
.detail div {
    display: flex;
}
.detail h1, .detail p {
    margin-bottom: 40px;
}
.detail-interface {
    width: 80%;
    margin: 10px 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detail li {
    list-style-type: none;
    margin-bottom: 30px;
}
.detail ion-icon {
    color: rgb(30, 128, 87);
}
/*page three*/
.favourite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.product {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product * {
    margin: 10px 1%;
}
.head {
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.favourite h1, .favourite p {
    text-align: center;
}
/*page four*/
.page-four {
    background-color: #f8f8f8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-four h1, .page-four p, .page-four hr {
    text-align: center;
    margin-bottom: 40px;
}
.page-four img {
    width: 100%;
}
.page-four hr {
    position: relative;
    left: 50%;
    margin-bottom: 40px;
}
/*product*/
.info {
    width: 250px;
    bottom: 70px;
    left: 0px;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 5px #aaaaaa;
    padding: 12px;
}

.Title, .desc, .idr {
    margin-bottom: 5px;
}


.harga {
    display: flex;
    height: 60px;
}

.price {
    flex: 3;
    border: 1px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    border-radius: 7px;
    cursor: pointer;
}

.cart1 {
    flex: 1;
    display: flex;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}
.cart1 ion-icon {
    font-size: 24px;
    color: orange;
}
/*page five*/
.page-five{
    background-image: linear-gradient(rgb(56, 56, 56), black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimony {
    padding: 5% 3%;
    display: flex;
    width: 1000px;
}
.photo-testimony {
    width: 110%;
    margin-right: 20px;
}
.photo-testimony img {
    width: 100%;
}
.profile-testimony {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-testimony p {
    margin-bottom: 40px;
}
.rating, .rating li,.rating ul {
    color: white;
    display: flex;
    margin-right: 10px;
}
.direction-button {
    height: 50px;
}
button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;
    border: 0px;
    cursor: pointer;
}
.fa ion-icon {
    color: orange;
}
/*Footer*/
footer {
    background-color: #aaaa;
    padding: 5% 10%;
    font-family: Arial, sans-serif;
    display: flex;
}
footer p {
    color: rgb(82, 82, 82);
}
.contact {
    margin-left: 5%;
    margin-right: 5%;
}
.emblem {
    display: flex;
    align-items: center;
}
.socmed img:hover {
    opacity: 0.8;
}
footer p {
    margin-top: 30px;
}
.socmed {
    margin-top: 30px;
}
.emblem p {
    margin: 0;
}
.socmed {
    display: flex;
}
.socmed div {
    height: 40px;
    width: 40px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px
}
.socmed ion-icon {
    width: 40px;
}
/*Laptop 1024*/
@media screen and (max-width :1439px) {
    .home-photo, .home-photo img, .detail-photo, .detail-photo img {
        width: 600px;
        height: 100%;
    }
    .product {
        flex-wrap: wrap;
    }
    .head {
        min-width: 40%;
    }
}
@media screen and (max-width :1024px) {
    .page-one {
        height: 70vh;
    }
    .page-two {
        height: 50vh;

    }
    .home-photo, .home-photo img, .detail-photo, .detail-photo img {
        width: 350px;
        height: 100%;
    }
    .detail-interface {
        margin-top: 50px;
    }
    .detail h1, .detail p, .detail li {
        margin-bottom: 10px;
    }
}

/*Tablet 768*/
@media screen and (max-width :768px) {
    body {
        width: 100vw;
    }
    .coffee-shop-text {
        display: none;
    }
    .page-one, .page-two {
        flex-direction: column;
        height: 1000px;
    }
    .home-photo, .detail-photo {
        height: 50%;
        width: 100%;
    }
    .home-interface {
        width: 80%;
        padding: 0;
        margin: 8% 8%;
    }
    .home-photo img, .detail-photo img {
        height: 100%;
        width: 100%;
    }
    .testimony {
        width: auto;
    }
    .profile-testimony p {
        margin-bottom: 20px;
    }
    .contact {
        margin-left: 0.8%;
        margin-right: 0.8%;
    }
    .socmed {
        display: block;
    }
    .socmed div {
        margin-bottom: 20px;
    }
}

/*Mobile 425*/
@media screen and (max-width :426px) {
    .coffee-shop-text, 
    .home-text, 
    .product-text, 
    .search-symbol, 
    .cart-symbol, 
    .sign-in, .sign-up {
    margin-left: 6px;
    }
    .coffee-shop-logo {
        margin-left: 1%;
    }
    .sign-up {
        margin-right: 1%;
    }
    .home-interface {
        margin: 5% 7%;
    }
    footer {
        display: block;
    }
    .prduct-engage {
        display: flex;
    }
    .contact {
        margin-bottom: 20px;
    }
    footer p {
        margin-top: 5px;
    }
    .socmed {
        margin-top: 5px;
        display: flex;
    }
    .testimony {
        display: block;
    }
    .photo-testimony {
        margin-bottom: 20px;
        margin-right: 0px;
        width: 100%;
    }
    .photo-testimony img {
        width: 100%;
    }
}