* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    box-sizing: border-box;
    max-width: 100vw;
}

/*Header*/
header {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.coffee-shop-logo {
    margin-left: 5%;
    margin-right: 10px;
    cursor: pointer;
}
.coffee-shop-text, 
.home-text, 
.product-text, 
.search-symbol, 
.cart-symbol, 
.sign-in, .sign-up {
    margin-left: 20px;
    cursor: pointer;
}
.sign-in {
    border: 1px solid white;
    display: flex;
    height: 40px;
    width: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
}
.sign-up {
    margin-right: 5%;
    background-color: orange;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
}
.product-text {
    flex: 1;
}
.cart-symbol ion-icon, .search-symbol ion-icon {
    font-size: 32px;
    color: white;
}
/*Main*/
main {
    display: flex;
    margin-bottom: 60px;
}
h1 {
    margin: 2% 20%;
}
/*Photo Profile*/
.profile {
    border: 2px solid silver;
    padding: 1%;
    margin-left: 20%;
    width: 186px;
    height: 300px;
    border-radius: 7px;
    text-align: center;

}
.image {
    border: 2px solid black;
    height: 170px;
    margin: 10px 0px;
    border-radius: 50%;
}
.image img {
    border-radius: 50%;
    width: 100%; 
    height: 100%;
}
.upload {
    background-color: orange;
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
/*Identity*/
.identity {
    border: 2px solid silver;
    margin-right: 20%;
    width: 80%;
    padding: 1%;
    border-radius: 7px;
    margin-left: 3%;
}
.set-password {
    display: flex;
    align-items: center;
    position: relative;
}
.set-password a {
    position: absolute;
    right: 0%;
}
.identity h3, .submit, a {
    margin-top: 30px;
    margin-bottom: 10px;
}
.input-new {
    width: 100%;
    height: 40px;
    background-color: rgb(224, 224, 224);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-new input {
    width: 90%;
    height: 80%;
    margin: 0px 10px;
    font-size: 1rem;
    border: none;
    background-color: rgb(224, 224, 224);
    outline: none;
}
.input-new ion-icon {
    font-size: 1rem;
    margin: 0px 10px;
}
.submit {
    background-color: orange;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
/*Footer*/
footer {
    background-color: #aaaa;
    padding: 5% 10%;
    font-family: Arial, sans-serif;
    display: flex;
}
footer p {
    color: rgb(82, 82, 82);
}
.contact {
    margin-left: 5%;
    margin-right: 5%;
}
.emblem {
    display: flex;
    align-items: center;
}
.socmed img:hover {
    opacity: 0.8;
}
footer p {
    margin-top: 30px;
}
.socmed {
    margin-top: 30px;
}
.emblem p {
    margin: 0;
}
.socmed {
    display: flex;
}
.socmed div {
    height: 40px;
    width: 40px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px
}
.socmed ion-icon {
    width: 40px;
}
/*Laptop 1024*/
@media screen and (max-width :1024px) {
    
}

/*Tablet 768*/
@media screen and (max-width :768px) {
    .coffee-shop-text {
        display: none;
    }
    h1 {
        margin: 2% 5%;
    }
    .profile {
        margin-left: 5%;
    }
    .identity {
        margin-right: 5%;
    }
    .contact {
        margin-left: 0.8%;
        margin-right: 0.8%;
    }
    .socmed {
        display: block;
    }
    .socmed div {
        margin-bottom: 20px;
    }
}

/*Mobile 425*/
@media screen and (max-width :425px) {
    .coffee-shop-text, 
    .home-text, 
    .product-text, 
    .search-symbol, 
    .cart-symbol, 
    .sign-in, .sign-up {
    margin-left: 6px;
    }
    .coffee-shop-logo {
        margin-left: 1%;
    }
    .sign-up {
        margin-right: 1%;
    }
    footer {
        display: block;
    }
    .contact {
        margin-bottom: 20px;
    }
    footer p {
        margin-top: 5px;
    }
    .socmed {
        margin-top: 5px;
        display: flex;
    }
    main {
        display: block;
        padding: 2% 10%;
    }
    .profile {
        margin: 0%;
        margin-bottom: 20px;
        width: 100%;
        height: 350px;
    }
    .identity {
        margin: 0%;
        margin-bottom: 20px;
        width: 100%;
    }
     .image {
        border: 2px solid black;
        width: 210px;
        height: 210px;
        border-radius: 50%;
    }
     .name-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
}