* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    box-sizing: border-box;
    max-width: 100vw;
}

h1 {
    font-size: 2rem;
}

/*Header*/
header {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.coffee-shop-logo {
    margin-left: 5%;
    margin-right: 10px;
    cursor: pointer;
}
.coffee-shop-text, 
.home-text, 
.product-text, 
.search-symbol, 
.cart-symbol, 
.sign-in, .sign-up {
    margin-left: 20px;
    cursor: pointer;
}
.sign-in {
    border: 1px solid white;
    display: flex;
    height: 40px;
    width: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
}
.sign-up {
    margin-right: 5%;
    background-color: orange;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
}
.product-text {
    flex: 1;
}
.cart-symbol ion-icon, .search-symbol ion-icon {
    font-size: 32px;
    color: white;
}
/* Image Title */
.image-title {
    height: 330px;
    margin-bottom: 30px;
}

.image-title img {
    width: 100%;
    height: 100%
}

.top {
    display: none;
}
/* h1 {
    font-size: 260%;
} */

.image-title h1 {
    position: relative;
    width: 400px;
    top: -250px;
    left: 60px;
    color: white;
}

/* Promo */

.outer {
    /* display: flex;
    margin-bottom: 30px; */
    overflow: scroll;
    width: 100%;
}

.outer .inner {
    width: 2100px;
}

.inner {
    display: flex;
}


.coupon {
    display: flex;
    background-color: rgb(151, 221, 167);
    width: 280px;
    height: 100px;
    border-radius: 22px;
    padding: 10px 10px 0px 10px;
    margin-left: 20px;
}

.text-title p {
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.text-title :last-child {
    right: 70px;
}

.text-title img:hover {
    opacity: 0.8;
}
/*product page title*/

.text-title {
    margin: 40px 60px;
    display: flex;
    position: relative;
}
/* Product Page */
.product-page {
    display: flex;
    position: relative;
    justify-content: center;
}

.product-filter {
    width: 240px;
    height: 45%;
    background-color: black;
    border-radius: 24px;
    color: white;
    padding: 20px;
}

.filter {
    display: flex;
    align-items: center;
    position: relative;
}

.filter h3 {
    position: absolute;
    right: 0;
}

.input input {
    width: 90%;
    height: 40px;
    background-color: rgb(224, 224, 224);
    border: none;
    outline: none;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 15px;
    padding-left : 20px;
    font-size: 1rem;
}

.product-filter * {
    margin-bottom: 20px;
}
input[type="range"] {
    width: 50%;
}
.input-range {
    display: flex;
}
.input-range :first-child {
    position: relative;
    left: 3px;
}
.input-range :last-child {
    position: relative;
    right: 3px;
    color: orange;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: orange;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
}

.apply {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 174, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.product-list {
    width: 700px;
    position: relative;
    margin-left: 3%;
    right: 0;
    display: grid;
    grid-template-columns: 300px 4% 300px;
    grid-template-rows: 500px 10px 500px 10px 500px 50px;
    justify-items: center;
    grid-template-areas: 
    "head . head2"
    ". . ."
    "three . four"
    ". . ."
    "five . six"
    "page page page";
    margin-bottom: 20px;

}

.head {
    grid-area: head;
}
.head2 {
    grid-area: head2;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.page {
    grid-area: page;
}
.show-product {
    height: 50px;
    width: 50px;
}
.page {
    display: flex;
}
.page button {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgb(190, 190, 190);
    margin-right: 20px;
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
}
.page :last-child {
    background-color: orange;
}
/*dbahbhdfbjkdsavbjkvdsajkvjkndvsjknsavkj*/


/*product*/
.img {
    position: relative;
}
.img p {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: red;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}
.img img {
    height: 330px;
    width: 300px;
}
.info {
    width: 250px;
    bottom: 70px;
    left: 15px;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 5px #aaaaaa;
    padding: 12px;
}
.rating, .rating li,.rating ul {
    color: white;
    display: flex;
    margin: 2px 10px 2px 0px;
    align-items: center;
}
.fa ion-icon {
    color: orange;
}
.Title, .desc, .idr {
    margin-bottom: 5px;
}
.idr {
    display: flex;
    align-items: center;
}
.harga {
    display: flex;
    height: 35px;
}

.price {
    flex: 3;
    border: 1px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    border-radius: 7px;
    cursor: pointer;
}

.cart1 {
    flex: 1;
    display: flex;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}
.cart1 ion-icon {
    font-size: 24px;
    color: orange;
}
/*footer*/
footer {
    background-color: #aaaa;
    padding: 5% 10%;
    font-family: Arial, sans-serif;
    display: flex;
}
footer p {
    color: rgb(82, 82, 82);
}
.contact {
    margin-left: 5%;
    margin-right: 5%;
}
.emblem {
    display: flex;
    align-items: center;
}
.socmed img:hover {
    opacity: 0.8;
}
footer p {
    margin-top: 30px;
}
.socmed {
    margin-top: 30px;
}
.emblem p {
    margin: 0;
}
.socmed {
    display: flex;
}
.socmed div {
    height: 40px;
    width: 40px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px
}
.socmed ion-icon {
    width: 40px;
}
/*Laptop 1024*/
@media screen and (max-width :1439px) {

}

@media screen and (max-width :1023px) {
    .product-page {
        display: block;
        justify-items: center;
    }
    .product-filter {
        margin: 0 5%;
        width: auto;
    }
    .product-filter * {
        margin-bottom: 10px;
    }
    .info {
        height: 240px;
    }
    .product-list {
        width: auto;
        position: relative;
        margin: 20px 5%;
        display: grid;
        grid-template-columns: 300px auto 300px;
        grid-template-rows: 530px 10px 530px 10px 530px 50px;
        justify-items: center;
        grid-template-areas: 
        "head . head2"
        ". . ."
        "three . four"
        ". . ."
        "five . six"
        "page page page";
    }
    .idr {
        display: block;
    }
    .harga {
        display: block;
    }
    .price {
        width: 100%;
        height: 30px;
    }
    .cart1 {
        margin-top: 5px;
    }
    
}

/*Tablet 768*/
@media screen and (max-width :768px) {
    .coffee-shop-text {
        display: none;
    }
    .contact {
        margin-left: 0.8%;
        margin-right: 0.8%;
    }
    .socmed {
        display: block;
    }
    .socmed div {
        margin-bottom: 20px;
    }
    .image-title {
        height: 210px;
        margin-bottom: 30px;
    }
    .image-title h1 {
        position: relative;
        width: 400px;
        top: -160px;
        left: 40px;
        color: white;
    }
}

/*Tablet 677*/
@media screen and (max-width :677px) {
    .img img {
        height: 180px;
        width: 180px;
    }
    .info {
        width: 170px;
        bottom: 0;
        left: 0;
        position: relative;
        background-color: white;
        box-shadow: 0px 0px 0px ;
        padding: 6px;
    }
    .product-list {
        width: auto;
        position: relative;
        margin: 20px 5%;
        display: grid;
        grid-template-columns: 190px auto 190px;
        grid-template-rows: 500px 10px 500px 10px 500px 50px;
        justify-items: center;
        grid-template-areas: 
        "head . head2"
        ". . ."
        "three . four"
        ". . ."
        "five . six"
        "page page page";
    
    }
}

@media screen and (max-width :426px) {
    
}

/*Mobile 425*/
@media screen and (max-width :460px) {
    .coffee-shop-text, 
    .home-text, 
    .product-text, 
    .search-symbol, 
    .cart-symbol, 
    .sign-in, .sign-up {
    margin-left: 6px;
    }
    .coffee-shop-logo {
        margin-left: 1%;
    }
    .sign-up {
        margin-right: 1%;
    }
    footer {
        display: block;
    }
    .contact {
        margin-bottom: 20px;
    }
    footer p {
        margin-top: 5px;
    }
    .socmed {
        margin-top: 5px;
        display: flex;
    }
    .image-title {
        display: none;
    }
    .text-title {
        margin: 20px 30px;
        display: flex;
        position: relative;
    }
    .top {
        display: flex;
        background-color: white;
        width: auto;
        height: 40px;
        padding: 10px 2%;
        border-bottom: 2px solid black;
        position: sticky;
        top: 80px;
        z-index: 100;
    }
    .search {
        display: flex;
        width: 100%;
    }
    .search input {
        height: 93%;
        width: 70%;
        padding: 0px 20px;
        font-size: 1rem;
        border-radius: 16px;
    }
    .search button {
        height: 100%;
        width: 28%;
        margin-left: 2%;
        border-radius: 16px;
        font-size: 1rem;
        background-color: orange;
        border: 0px;
    }
    .product-filter {
        display: none;
    }
}
